{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="glass-card auth-card">

        <h1>SentinelX AI</h1>
        <p>Detect. Verify. Protect.</p>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form
            method="POST"
            action="{{ url_for('auth.login') }}"
        >

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <br>

        <a href="{{ url_for('auth.forgot_password') }}">
            Forgot Password?
        </a>

        <br><br>

        <p>
            Don't have an account?
            <a href="{{ url_for('auth.register') }}">
                Create Account
            </a>
        </p>
        <p>
    Email not verified?
    <a href="{{ url_for('auth.resend_verification') }}">
        Resend Verification Email
    </a>
</p>

    </div>

</div>

{% endblock %}