<div class="sidebar">
<div class="logo">
    SentinelX AI
</div>

<a href="/dashboard">
    Dashboard
</a>

<a href="/profile">
    Profile
</a>

<a href="/fraud">
    Job Fraud Detection
</a>

<a href="/pdf">
    PDF Analyzer
</a>

<a href="/ocr">
    OCR Module
</a>

<a href="/website">
    Website Verification
</a>

<a href="/reports">
    Generate Report
</a>

<a href="/reports/history">
    Report History
</a>
<a href="{{ url_for('website.verify') }}">
    Website Verification
</a>
<a href="/notifications">
    Notifications
</a>

<a href="/auth/logout">
    Logout
</a>
<a href="/admin">
    Admin Panel
</a>
<a href="/database">
    Database Management
</a>


</div>
